TZ=UTC
PORT=3000

# Recommended if app runs behind a reverse proxy (like Nginx or a load balancer)
# Allowed values: https://expressjs.com/en/guide/behind-proxies.html
TRUSTED_PROXIES=""

# MySQL database properties
DB_HOST=db
DB_ROOT_PASS=CHANGE_ME_TO_A_DIFFERENT_REALLY_SECURE_PASSWORD
DB_USER=vu_progression
DB_PASS=CHANGE_ME_TO_A_DIFFERENT_SECURE_PASSWORD
DB_NAME=vu_global_progression

# Progression Settings
XP_MULT=1.0
# XP_WARN_AT=10000